
<div>
    <h2>Order Management</h2>

    <h3>Create New Order</h3>
    <form (ngSubmit)="createOrder()">
        <div class="row">
            <div class="col-md-3">
                <label for="customer">Customer Name:</label>
                <select class="form-control" id="customer" [(ngModel)]="newOrder.customer.id" name="customer" required >
                    <option *ngFor="let customers of customers" [value]="customers.id">{{ customers.name }}</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="product">Select Product Name:</label>
                <select class="form-control" id="product" [(ngModel)]="newOrder.product" name="productName"  required>
                  <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
                </select>
              </div>

            <div class="col-md-3">
                <label for="quantity">Select Product Quantity:</label>
                <input type="number" class="form-control" id="quantity" [(ngModel)]="newOrder.quantity" name="quantity"
                    placeholder="Quantity" required />
            </div>

            
            <div class="col-md-2">
                <label for="quantity">Dalivary Date:</label>
                <input type="date" class="form-control" id="quantity" [(ngModel)]="newOrder.deliveryDate" name="quantity"
                    placeholder="Dalivary Date" required />
            </div>

            <div class="col-md-2 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Create Order</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-hover mt-4">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Dalivary Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of filteredOrders">
                <td>{{ order.customer.name }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.totalPrice | currency }}</td>
                <td>{{ order.orderDate |  date: 'd MMM, y hh:mm:ss a'  }}</td>
                <td>{{ order.deliveryDate | date }}</td>
                <td>
                    <button class="btn btn-success btn-sm" (click)="updateOrder(order.id, 'Shipped')">Mark as Shipped</button>&nbsp;&nbsp;
                    <button class="btn btn-danger btn-sm" (click)="deleteOrder(order.id)">Delete Order</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



