<div>
  <h2>Sales Management</h2>

  <input type="text" [(ngModel)]="searchTerm" (input)="filterSales()"
    placeholder="Search by product or customer name..." />

  <!-- <h3>Record New Sale</h3>
  <form (ngSubmit)="recordSale()">
    <input type="text" [(ngModel)]="newSale.productName" name="productName" placeholder="Product Name" required />
    <input type="number" [(ngModel)]="newSale.quantity" name="quantity" placeholder="Quantity" required />
    <input type="number" [(ngModel)]="newSale.price" name="price" placeholder="Price" required />
    <input type="text" [(ngModel)]="newSale.customerName" name="customerName" placeholder="Customer Name" required />
    <button type="submit" class="bg-blue-500 text-dark py-2 px-4 rounded">Record Sale</button>
  </form> -->

  <div class="row mb-4">
    <h3>Record New Sale</h3>
    <form (ngSubmit)="recordSale()">
      <div class="row">
        <div class="col-md-3">
          <label for="product">Select Product Name:</label>
          <select class="form-control" id="product" [(ngModel)]="newSale.product.id" name="productName" required>
            <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="product">Select Product Quantity:</label>
          <input type="number" [(ngModel)]="newSale.quantity" name="quantity" placeholder="Quantity" required />
        </div>


        <div class="col-md-3">
          <label for="product"> Price:</label>
          <select class="form-control" id="product" [(ngModel)]="newSale.product.id" name="product" required>
            <option *ngFor="let product of products" [value]="product.id">{{product.price}}</option>
          </select>
        </div>

        <div class="col-md-2">
          <label for="warehouse">Customer Name:</label>
          <select class="form-control" id="warehouse" [(ngModel)]="newSale.customer.id" name="warehouse" required>
            <option *ngFor="let customers of customers" [value]="customers.id">{{ customers.name }}</option>
          </select>
        </div>


      </div>
      <button type="submit" class="mt-3 bg-blue-500 text-dark py-2 px-4 rounded">Record Sale</button>
    </form>
  </div>




  <button (click)="generateSalesReport()" class="bg-green-500 text-dark py-2 px-4 rounded mt-4">Generate Sales
    Report</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="border border-gray-300 p-2">Product Name</th>
        <th class="border border-gray-300 p-2">Quantity</th>
        <th class="border border-gray-300 p-2">Price</th>
        <th class="border border-gray-300 p-2">Total</th>
        <th class="border border-gray-300 p-2">Customer Name</th>
        <th class="border border-gray-300 p-2">Sale Date</th>
        <th class="border border-gray-300 p-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of filteredSales">
        <td class="border border-gray-300 p-2">{{ sale.product.name}}</td>
        <td class="border border-gray-300 p-2">{{ sale.quantity }}</td>
        <td class="border border-gray-300 p-2">{{ sale.product.price| currency }}</td>
        <td class="border border-gray-300 p-2">{{ sale.totalAmount| currency }}</td>
        <td class="border border-gray-300 p-2">{{ sale.customer.name}}</td>
        <td class="border border-gray-300 p-2">{{ sale.saleDate | date }}</td>
        <td class="border border-gray-300 p-2">
          <button (click)="customers" class="bg-yellow-500 text-dark py-2 px-3 rounded">Update</button>
          <button (click)="removeSale(sale.id)" class="bg-red-500 text-dark py-2 px-3 rounded">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>