

<div class="container-fluid mt-4">

  <div class="card bg-dark text-white shadow-lg mb-4">
    <div class="card-body">
      <h2 class="text-center">Reports & Analytics</h2>
    </div>
  </div>


  <div class="card bg-dark text-white shadow-lg mb-4">
    <div class="card-body">
      <h3 class="text-center">Inventory Report</h3>
      <table class="table table-dark table-striped mt-4 mat-elevation-z8">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Location</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventoryItems">
            <td>{{ item.id }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.warehouse.location }}</td>
            <td>{{ item.product.price | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="card bg-dark text-white shadow-lg mb-4">
    <div class="card-body">
      <h3 class="text-center">Sales Report</h3>


      <!-- <div class="bar-chart mt-4 mb-4">
        <h4 class="text-center text-dark">Sales Revenue</h4>
        <div class="d-flex justify-content-around align-items-end" style="height: 200px;">
          <div *ngFor="let data of salesRevenueChartData.data; let i = index" class="bar bg-info"
            [style.height]="(data / maxRevenue * 100) + '%'">
            <div class="bar-label text-white">{{ salesRevenueChartData.labels[i] }}
              {{ data | currency }}</div>
          </div>
        </div>
      </div> -->

      <div class="bar-chart mt-4 mb-4">
        <h4 class="text-center text-dark">Sales Revenue</h4>
        <div class="d-flex justify-content-around align-items-end" style="height: 200px;">
          <div *ngFor="let data of salesRevenueChartData.data; let i = index" class="bar bg-info"
            [style.height]="(data / maxRevenue * 100) + '%'">
            <div class="bar-label text-white">
              
                {{ salesRevenueChartData.labels[i] }}
            
             
              {{ data | currency }}
           
            </div>
          </div>
        </div>
      </div>



      <table class="table table-dark table-striped mt-4 mat-elevation-z8">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Total Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <td>{{ sale.id }}</td>
            <td>{{ sale.product.name }}</td>
            <td>{{ sale.totalPrice | currency }}</td>
            <td>{{ sale.saleDate | date: 'd MMM, y' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="card bg-dark text-white shadow-lg">
    <div class="card-body">
      <h3 class="text-center">Supplier Report</h3>
      <table class="table table-dark table-striped mt-4 mat-elevation-z8">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.contactPerson }}</td>
            <td>{{ supplier.createdAt | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>