<div class="container mt-4">  
    <h2 class="h2">Edit WareHouse</h2>  
    <div *ngIf="errorMessage" class="alert alert-danger mt-4">{{ errorMessage }}</div>  
    
    <form (ngSubmit)="updateWareHouse()" *ngIf="wareHouse">  
      <div class="mb-3">  
        <label for="name" class="form-label">Name</label>  
        <input id="name" [(ngModel)]="wareHouse.name" name="name" class="form-control" required />  
      </div>  
      <div class="mb-3">  
        <label for="contact" class="form-label">Contact</label>  
        <input id="contact" [(ngModel)]="wareHouse.contact" name="contact" class="form-control" required />  
      </div>  

      <div class="mb-3">  
        <label for="location" class="form-label">Location</label>  
        <input id="location" [(ngModel)]="wareHouse.location" name="location" class="form-control" />  
      </div>  
      <div class="mb-3">  
        <label for="capacity" class="form-label">Capacity</label>  
        <input type="number" id="capacity" [(ngModel)]="wareHouse.capacity" name="capacity" class="form-control" required />  
      </div>  
     
      <button type="submit" class="btn btn-primary">Update WareHouse</button>  
    </form>  
</div>
