
 <div>
    <h2>Supplier Management</h2>

    <div style="display: flex; align-items: center; justify-content: space-evenly;">  
        <input type="text" [(ngModel)]="searchTerm" (input)="filterSuppliers()"  
            placeholder="Search by supplier name or contact person..." style="flex: 1; margin-right: 350px;" />  
    
        <select [(ngModel)]="sortBy" (change)="sortSuppliers()" style="margin-left: 330px;">  
            <option value="name">Sort by Name</option>  
            <option value="contactPerson">Sort by Contact Person</option>  
            <option value="email">Sort by Email</option>  
        </select>  
    </div>



    <h3 style="margin-top: 20px;">Add New Supplier</h3>
    <form (ngSubmit)="addSupplier()" style="display: flex; flex-wrap: wrap; gap: 20px; margin-bottom: 20px;">
        <input type="text" [(ngModel)]="newSupplier.name" name="name" placeholder="Supplier Name" required />
        <input type="text" [(ngModel)]="newSupplier.contactPerson" name="contactPerson" placeholder="Contact Person"
            required />
        <input type="email" [(ngModel)]="newSupplier.email" name="email" placeholder="Email" required />
        <input type="text" [(ngModel)]="newSupplier.phone" name="phone" placeholder="Phone" required />
        <input type="text" [(ngModel)]="newSupplier.address" name="address" placeholder="Address" required />
        <button type="submit">Add Supplier</button>
    </form>

    <table class="min-w-full border-collapse border border-gray-200 mt-4">
        <thead>
            <tr>
                <th class="border border-gray-300 p-2">Supplier Name</th>
                <th class="border border-gray-300 p-2">Contact Person</th>
                <th class="border border-gray-300 p-2">Email</th>
                <th class="border border-gray-300 p-2">Phone</th>
                <th class="border border-gray-300 p-2">Address</th>
                <th class="border border-gray-300 p-2">Created At</th>
                <th class="border border-gray-300 p-2">Status</th>
                <th class="border border-gray-300 p-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of filteredSuppliers">
                <td class="border border-gray-300 p-2">{{ supplier.name }}</td>
                <td class="border border-gray-300 p-2">{{ supplier.contactPerson }}</td>
                <td class="border border-gray-300 p-2">{{ supplier.email }}</td>
                <td class="border border-gray-300 p-2">{{ supplier.phone }}</td>
                <td class="border border-gray-300 p-2">{{ supplier.address }}</td>
                <td class="border border-gray-300 p-2">{{ supplier.createdAt | date }}</td>
                <td class="border border-gray-300 p-2">{{ supplier.status}}</td>
                <td class="border border-gray-300 p-2">
                 
                        <a class="btn btn-outline-success btn-sm" (click)="updateSupplier(supplier.id)" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa-solid fa-pen-to-square" style="--fa-primary-color: #05812a; --fa-secondary-color: #bbfdbe;"></i>
                        </a>
                    
                        <a class="btn btn-outline-danger btn-sm" (click)="removeSupplier(supplier.id)" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa-solid fa-trash-can" style="color: #fd0101;"></i>
                        </a>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div> 


