<!-- <div class="content-wrapper badge-success inline-flex items-center px-2 py-0.5 rounded-full text-sm font-medium text-green-800 bg-green-100 border border-danger">  

    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-white d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                marchmanage_erp.com
                2024</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-white"> Authers <a href=""
                    target="_blank">marchmanage_erp admin
                    </a> marchmanage_erp.com</span>
        </div>
    </footer>
</div> -->

<div class="content-wrapper badge-success inline-flex items-center px-2 py-0.5 rounded-full text-sm font-medium text-green-800 bg-green-100">  
    <footer class="footer">  
        <div class="container">  
            <div class="d-flex flex-column flex-lg-row justify-content-between">  
                <div class="footer-section text-white text-center text-lg-left">  
                    <h5>About Us</h5>  
                    <p>MarchManage ERP is dedicated to providing top-notch solutions for effective management.</p>  
                </div>  
                <div class="footer-section text-white text-center">  
                    <h5>Quick Links</h5>  
                    <ul class="list-unstyled">  
                        <li><a href="#" class="text-white">Home</a></li>  
                        <li><a href="#" class="text-white">Services</a></li>  
                        <li><a href="#" class="text-white">About</a></li>  
                        <li><a href="#" class="text-white">Contact</a></li>  
                    </ul>  
                </div>  
                <div class="footer-section text-white text-center">  
                    <h5>Contact Us</h5>  
                    <p>Email: infomarchmanage_erp.com</p>  
                    <p>Phone: (123) 456-7890</p>  
                </div>  
                <div class="footer-section text-white text-center">  
                    <h5>Follow Us</h5>  
                    <ul class="social-icons list-unstyled">  
                        <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>  
                        <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>  
                        <li><a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>  
                    </ul>  
                </div>  
            </div>  
            <div class="text-white text-center mt-4">  
                <span>Copyright © 2024 marchmanage_erp.com. All rights reserved.</span>  
                <br>  
                <span> Authers <a href="#" class="text-white" target="_blank">marchmanage_erp admin</a></span>  
            </div>  
        </div>  
    </footer>  
</div>