.footer {
    background-color: #05050528;
    color: #fff;
    padding: 40px 0;
    margin-top: 50px;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
  
      .footer-section {
        flex: 1;
        margin: 10px;
        min-width: 250px;
  
        h3 {
          color: #409905;
          margin-bottom: 15px;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 10px;
  
            a {
              color: #fff;
              text-decoration: none;
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
  
        .socials {
          display: flex;
          a {
            color: #fff;
            margin-right: 10px;
            font-size: 1.5rem;
            transition: color 0.3s;
  
            &:hover {
              color: #ffa500;
            }
          }
        }
  
        form {
          display: flex;
  
          input {
            padding: 10px;
            flex: 1;
            margin-right: 10px;
            border: none;
            border-radius: 4px;
          }
  
          button {
            background-color: #ffa500;
            border: none;
            padding: 10px;
            cursor: pointer;
            color: white;
            border-radius: 4px;
            transition: background-color 0.3s;
  
            &:hover {
              background-color: #ffb84d;
            }
          }
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      padding: 20px 0;
      background-color: #222222e3;
    }
  }
  